**Подключение библиотек и скриптов**

In [1]:
import numpy as np
import pandas as pd
import io

**Загрузка файла**

### Загрузка данных
Описание датасета:
* Id - идентификационный номер квартиры
* DistrictId - идентификационный номер района
* Rooms - количество комнат
* Square - площадь
* LifeSquare - жилая площадь
* KitchenSquare - площадь кухни
* Floor - этаж
* HouseFloor - количество этажей в доме
* HouseYear - год постройки дома
* Ecology_1, Ecology_2, Ecology_3 - экологические показатели местности
* Social_1, Social_2, Social_3 - социальные показатели местности
* Healthcare_1, Helthcare_2 - показатели местности, связанные с охраной здоровья
* Shops_1, Shops_2 - показатели, связанные с наличием магазинов, торговых центров
* Price - цена квартиры

In [4]:
DATASET_PATH = 'train.csv'
df = pd.read_csv(DATASET_PATH)
df.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [5]:
df.shape

(10000, 20)

### Получение информации о данных

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 14038 to 6306
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DistrictId     10000 non-null  int64
 1   Rooms          10000 non-null  float64
 2   Square         10000 non-null  float64
 3   LifeSquare     7887 non-null   float64
 4   KitchenSquare  10000 non-null  float64
 5   Floor          10000 non-null  int64
 6   HouseFloor     10000 non-null  float64
 7   HouseYear      10000 non-null  int64
 8   Ecology_1      10000 non-null  float64
 9   Ecology_2      10000 non-null  int64
 10  Ecology_3      10000 non-null  int64
 11  Social_1       10000 non-null  int64
 12  Social_2       10000 non-null  int64
 13  Social_3       10000 non-null  int64
 14  Healthcare_1   5202 non-null   float64
 15  Helthcare_2    10000 non-null  int64
 16  Shops_1        10000 non-null  int64
 17  Shops_2        10000 non-null  int64
 18  Price          10000 non-null  float64
dtypes: float64(8), int64(11)
memory usage: 1.5 MB

In [0]:
df.dtypes

DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2          int64
Ecology_3          int64
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2            int64
Price            float64
dtype: object

In [0]:
df.describe().T

                 count           mean  ...            75%           max
DistrictId     10000.0      50.400800  ...      75.000000  2.090000e+02
Rooms          10000.0       1.890500  ...       2.000000  1.900000e+01
Square         10000.0      56.315775  ...      65.900625  6.410652e+02
LifeSquare      7887.0      37.199645  ...      45.128803  7.480592e+03
KitchenSquare  10000.0       6.273300  ...       9.000000  2.014000e+03
Floor          10000.0       8.526700  ...      12.000000  4.200000e+01
HouseFloor     10000.0      12.609400  ...      17.000000  1.170000e+02
HouseYear      10000.0    3990.166300  ...    2001.000000  2.005201e+07
Ecology_1      10000.0       0.118858  ...       0.195781  5.218671e-01
Ecology_2      10000.0       0.990300  ...       1.000000  1.000000e+00
Ecology_3      10000.0       0.972500  ...       1.000000  1.000000e+00
Social_1       10000.0      24.687000  ...      36.000000  7.400000e+01
Social_2       10000.0    5352.157400  ...    7227.000000  1.908300e+04
Social_3       10000.0       8.039200  ...       5.000000  1.410000e+02
Healthcare_1    5202.0    1142.904460  ...    1548.000000  4.849000e+03
Helthcare_2    10000.0       1.319500  ...       2.000000  6.000000e+00
Shops_1        10000.0       4.231300  ...       6.000000  2.300000e+01
Shops_2        10000.0       0.917500  ...       1.000000  1.000000e+00
Price          10000.0  214138.857399  ...  249135.462171  6.332335e+05

[19 rows x 8 columns]

*Разберемся с объектами*

In [0]:
df.describe(include='object')

In [0]:
df['Ecology_2'].value_counts()

1    9903
0      97
Name: Ecology_2, dtype: int64

In [0]:
df['Ecology_3'].value_counts()

1    9725
0     275
Name: Ecology_3, dtype: int64

In [0]:
df['Shops_2'].value_counts()

1    9175
0     825
Name: Shops_2, dtype: int64

По-скольку значения всех трех стобцов с object бинарные (A и B), не вижу смысла разносить их на новые отдельные столбцы. Достаточно просто заменить A,B на 0,1 .

In [0]:
df.loc[df['Shops_2'] == 'A', 'Shops_2'] = 0
df.loc[df['Shops_2'] == 'B', 'Shops_2'] = 1
df.loc[df['Ecology_2'] == 'A', 'Ecology_2'] = 0
df.loc[df['Ecology_2'] == 'B', 'Ecology_2'] = 1
df.loc[df['Ecology_3'] == 'A', 'Ecology_3'] = 0
df.loc[df['Ecology_3'] == 'B', 'Ecology_3'] = 1

In [0]:
df['Shops_2'] = pd.to_numeric(df['Shops_2'])
df['Ecology_2'] = pd.to_numeric(df['Ecology_2'])
df['Ecology_3'] = pd.to_numeric(df['Ecology_3'])

In [0]:
df.describe().T

                count           mean  ...            75%           max
DistrictId     9988.0      50.419003  ...      75.000000  2.090000e+02
Rooms          9988.0       1.888266  ...       2.000000  5.000000e+00
Square         9988.0      56.295899  ...      65.894295  6.410652e+02
LifeSquare     7878.0      37.167515  ...      45.126159  7.480592e+03
KitchenSquare  9988.0       6.276632  ...       9.000000  2.014000e+03
Floor          9988.0       8.526632  ...      12.000000  4.200000e+01
HouseFloor     9988.0      12.615839  ...      17.000000  1.170000e+02
HouseYear      9988.0    3992.566580  ...    2001.000000  2.005201e+07
Ecology_1      9988.0       0.118849  ...       0.195781  5.218671e-01
Ecology_2      9988.0       0.990288  ...       1.000000  1.000000e+00
Ecology_3      9988.0       0.972467  ...       1.000000  1.000000e+00
Social_1       9988.0      24.688226  ...      36.000000  7.400000e+01
Social_2       9988.0    5352.479375  ...    7227.000000  1.908300e+04
Social_3       9988.0       8.048058  ...       5.000000  1.410000e+02
Healthcare_1   5198.0    1143.192382  ...    1548.000000  4.849000e+03
Helthcare_2    9988.0       1.319684  ...       2.000000  6.000000e+00
Shops_1        9988.0       4.232379  ...       6.000000  2.300000e+01
Shops_2        9988.0       0.917401  ...       1.000000  1.000000e+00
Price          9988.0  214155.733452  ...  249135.462171  6.332335e+05

[19 rows x 8 columns]

In [0]:
df[(df['Rooms'] > 5) | (df['Rooms'] < 1)]

Empty DataFrame
Columns: [DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price, Full_to_Life]
Index: []

Обнаружено, что у 12 квартир количество комнат 0 или больше 5. При этом по площади неясно, сколько насамом деле в них комнат. Исключим эти данные.

In [0]:
df.drop(df[(df['Rooms'] > 5) | (df['Rooms'] < 1)].index, inplace=True)
df.shape

(9988, 19)

In [0]:
df.corr()['Price'].sort_values()

Ecology_1       -0.058536
Ecology_3       -0.052576
HouseYear        0.004305
Ecology_2        0.022406
KitchenSquare    0.028864
Shops_2          0.070473
Social_3         0.074849
LifeSquare       0.080971
HouseFloor       0.088136
Floor            0.128937
Healthcare_1     0.138646
Shops_1          0.180699
Social_2         0.238919
Helthcare_2      0.252980
Social_1         0.263094
DistrictId       0.265069
Square           0.521006
Rooms            0.571888
Price            1.000000
Name: Price, dtype: float64

LifeSquare не сильно влияет на Price, но у многих данных оно не заполнено.
Проверим, станет ли влиять сильнее, если его запонить.
Вычислим отношение Square/LifeSquare у известных данных, возьмем медиану и применим ее, чтобы найти неизвестные LifeSquare

In [0]:
df['Full_to_Life'] = df['Square'] / df['LifeSquare']

In [0]:
df['Full_to_Life'].describe()

count    7878.000000
mean        2.126100
std         4.476731
min         0.010921
25%         1.435224
50%         1.619435
75%         1.797652
max       166.648780
Name: Full_to_Life, dtype: float64

Медиана получилась 1.619435. Применим ее.

In [0]:
df['LifeSquare'].fillna((df['Square'] / df['Full_to_Life'].median()), inplace=True)

In [0]:
df.corr()['Price'].sort_values()

Ecology_1       -0.058536
Ecology_3       -0.052576
Full_to_Life    -0.009417
HouseYear        0.004305
Ecology_2        0.022406
KitchenSquare    0.028864
Shops_2          0.070473
Social_3         0.074849
HouseFloor       0.088136
LifeSquare       0.090930
Floor            0.128937
Healthcare_1     0.138646
Shops_1          0.180699
Social_2         0.238919
Helthcare_2      0.252980
Social_1         0.263094
DistrictId       0.265069
Square           0.521006
Rooms            0.571888
Price            1.000000
Name: Price, dtype: float64

Теперь LifeSquare стало кореллировать с Price сильнее (0.9 вместо 0.8). Учтем его в модели.

Healthcare_1 сильно влияет на Price, но у многих он не заполнен.
Посмотрим, что влияет на него.

In [0]:
df.corr()['Healthcare_1'].sort_values()

HouseFloor      -0.144646
Floor           -0.138680
Ecology_3       -0.114668
Full_to_Life    -0.066555
Ecology_1       -0.043416
Square          -0.039582
Ecology_2       -0.031690
Shops_2         -0.031039
LifeSquare      -0.026580
HouseYear       -0.011975
KitchenSquare    0.009474
Rooms            0.045094
Social_2         0.050229
Shops_1          0.057615
Social_1         0.076879
Social_3         0.133794
Price            0.138646
Helthcare_2      0.203108
DistrictId       0.304115
Healthcare_1     1.000000
Name: Healthcare_1, dtype: float64

In [0]:
df.to_csv('cource_temp_1.csv') 
files.download('cource_temp_1.csv')